.banner{

        display: block;
        margin: 0 auto;
      
}

.search{
    display: block;
    margin: 0 auto;
  
}

.text{
    display: block;
    margin: 0 auto;
}

#buttons{
    padding-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
      
}

li{
    list-style: none;
}

#links{
    padding-top: 3%;
}

